/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    font-size: 100%;
}
body{
    font: 1rem 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}
h1,h2,h3,h4,h5,h6,figure,ul,ol{
    margin: 0;
    padding: 0;
    font-weight: 300;
    list-style: none;
}
*{
    box-sizing: border-box;
}


/*header*/
header{
    margin-bottom: 5rem;
}
header .insta{
    color: black;
}
header h1{
    color: rgb(155, 155, 155);
    text-transform : uppercase;
    font-size: large;
    font: bolder;
    text-align: center;
}
body{
    text-align: center;
    background-color: #fafafa;
}

img.Logo{
    margin-bottom: 3rem;
}

.login{
    text-align: center;
    width: 23rem;
    margin: 0 auto;
    border: solid 0.1rem rgb(201, 201, 201);
    margin-bottom: 0.5rem;
    padding: 20px 30px 20px 0px;
}

.recherche{
    margin: 0 auto;
    margin-left: 0.8rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 4rem;
    padding: 0px 115px 0px 20px;
    background: #fafafa;
    border: solid .1rem #7c7c7c;
    border-radius: .3rem;
    height: 40px;
   
}
.or{
    text-align: center;
    transform: translateY(2.3rem);
    background-color: #fff;
    width: 3rem;
    color: #959595;
    margin-bottom: 1.5rem;
    margin-left: 10rem;
}
hr {
    border: none;
    background-color: grey;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 0.1rem;
    margin-top: -0.25rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    
}

hr:after {
    background: #fff;
    text-transform: uppercase;
    padding: 0 4px;
    position: relative;
    top: -13px;
    
}
.connexion{
    background:linear-gradient(to bottom, #3c95f4 5%, #3c95f4 100%);
	background-color:#3c95f4;
	border-radius:6px;
	border:1px solid #7ba8f7;
	display:block;
	cursor:pointer;
	color:#fafafa;
	font-family:Trebuchet MS;
	font-size:15px;
	padding: 8px 100px 10px 100px;
	text-decoration:none;
    margin: 0 auto;
    width: 100%;
    margin-left: 0.75rem;
}
.Facebook{
    vertical-align: middle;
    height: 1rem;
    margin-bottom: 0.25rem;
    margin-left: 3rem;
}
.FB{
    display: inline-block;
    color: #375184;
    font: bold;
}
.FB:hover{
    text-decoration: underline;
    cursor: pointer;
}

.no-password{
    margin: -0.3rem;
    font: bold;
    font-size: 0.9rem;
    color: #375184;
    margin-left: 3rem;
}
.no-password:hover{
    text-decoration: underline;
    cursor: pointer;
}


.forget{
    display: inline-block;
    text-align: center;
    vertical-align: left;
    width: 23rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    border: solid 0.1rem rgb(201, 201, 201);
    padding: 20px 30px 20px 30px;
}
.forget h2{
    font-size: medium;
}
.Subscribe{
    display: inline-block;
    color: #3897f0;
}
.Subscribe:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error{
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
    width: 100%;
}
.success{
    display: block;
    color: rgb(0, 129, 0);
    text-align: center;
    width: 100%;
}

.app{
    text-align: center;
    width: 23rem;
    margin: 0 auto;
}
.ios{
    width: 10rem;
    margin-top: 1rem;
}
.android{
    width: 10rem;
    margin-top: 1rem;
    vertical-align: top;
}